- @posts.each do |post|
  %h2
    = link_to post.title, post_path(post)
  %p=l post.created_at
  =markdown summarize post.body
  - if current_user.try(:admin?)
    %p
      = link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(post), :class => 'btn btn-default btn-xs'
      = link_to t('.destroy', :default => t("helpers.links.destroy")), post_path(post), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-default'

- if current_user.try(:admin?)
  %p
    = link_to t('.new', :default => t("helpers.links.new")), new_post_path, :class => 'btn btn-primary'
