%ul.nav.navbar-nav.navbar-right
  - if user_signed_in?
    %li
      = link_to current_user.email.split('@').first, edit_user_registration_path
    %li
      = link_to "Logout", destroy_user_session_path, :method => :delete
  - else
    %li
      = link_to "Sign Up", new_user_registration_path
    %li
      = link_to "Sign In", new_user_session_path
